

.board {
  width: 650px;
	height: 650px;
	margin: 0 auto;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  
}

.square
{
  border: 2px solid black;
  font-family: monospace;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: monospace;
}
